name: NuGetMonitor

on:
  push:
    branches:
      - main
      - 'feature/**'

env:
  version: '1.0.${{ github.run_number }}'
  repoUrl: ${{ github.server_url }}/${{ github.repository }}

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3   

      - name: Update Assembly Version
        uses: dannevesdantas/set-version-assemblyinfo@v.1.0.0
        with:
          version: ${{ env.version }}

      - name: Update Vsix Version
        uses: cezarypiatek/VsixVersionAction@1.1
        with:
          version: ${{ env.version }}
          vsix-manifest-file: 'src\source.extension.vsixmanifest'

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1

      - name: NuGet restore
        run: nuget restore NuGetMonitor.sln

      - name: Build VSIX
        run: msbuild NuGetMonitor.sln /t:Rebuild /p:Configuration=Release
        env: 
          DeployExtension: False

      - name: Publish Build Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: NuGetMonitor
          path: |
            **/*.vsix
            src/publish-manifest.json
            readme.md

  release:
    name: Release
    needs: build
    runs-on: windows-latest
    environment: Release
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3

      - name: Tag release
        id: tag_release
        uses: mathieudutour/github-tag-action@v6.1
        with:
          custom_tag: '${{ env.version }}'
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_release.outputs.new_tag }}
          name: ${{ steps.tag_release.outputs.new_tag }}
          body: ${{ steps.tag_release.outputs.changelog }}
          artifacts: "**/*.vsix"
          skipIfReleaseExists: true
          
      - name: Publish to Marketplace
        uses: cezarypiatek/VsixPublisherAction@1.0
        with:
          extension-file: NuGetMonitor/src/bin/release/NuGetMonitor.vsix
          publish-manifest-file: NuGetMonitor/src/publish-manifest.json
          personal-access-code: ${{ secrets.VS_PUBLISHER_ACCESS_TOKEN }}

      - name: Publish to Open VSIX Gallery
        run: |
           curl \
           -L 'https://www.vsixgallery.com/api/upload?repo=${{ env.repoUrl }}&issuetracker=${{ env.repoUrl }}/issues' \
           -F 'file=@"/${{ github.workspace }}\NuGetMonitor\src\bin\release\NuGetMonitor.vsix"'