name: NuGetMonitor

on:
  push:
    branches:
      - main
      - 'feature/**'
  pull_request:

env:
  version: '1.5.${{ github.run_number }}'
  repoUrl: ${{ github.server_url }}/${{ github.repository }}
  vsixPath: ${{ github.workspace }}/NuGetMonitor/src/bin/release/net48/win/NuGetMonitor.vsix

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4   

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1

      - name: NuGet restore
        run: nuget restore NuGetMonitor.sln

      - name: Build VSIX
        run: msbuild NuGetMonitor.sln /t:Rebuild /p:Configuration=Release
        env: 
          DeployExtension: False
          Version: ${{ env.version }}

      - name: Publish Build Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: NuGetMonitor
          path: |
            **/*.vsix
            src/publish-manifest.json
            readme.md

  release:
    if: github.ref_name == 'main'
    name: Release
    needs: build
    runs-on: windows-latest
    environment: Release
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3

      - name: Tag release
        id: tag_release
        uses: mathieudutour/github-tag-action@v6.1
        with:
          custom_tag: '${{ env.version }}'
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_release.outputs.new_tag }}
          name: ${{ steps.tag_release.outputs.new_tag }}
          body: ${{ steps.tag_release.outputs.changelog }}
          artifacts: "**/*.vsix"
          skipIfReleaseExists: true
          
      - name: Publish to Marketplace
        uses: cezarypiatek/VsixPublisherAction@1.0
        with:
          extension-file: ${{ env.vsixPath }}
          publish-manifest-file: NuGetMonitor/src/publish-manifest.json
          personal-access-code: ${{ secrets.VS_PUBLISHER_ACCESS_TOKEN }}

      - name: Publish to Open VSIX Gallery
        run: |
           curl -L 'https://www.vsixgallery.com/api/upload?repo=${{ env.repoUrl }}&issuetracker=${{ env.repoUrl }}/issues' -F 'file=@"${{ env.vsixPath }}"'